.home-container {
  text-align: center;
  padding: 100px;
}

.cta-button {
  padding: 10px 20px;
  background-color: #fb2c2c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #1b5fcf;
}

