/* Global Styles */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4;
  margin: 0;

  padding: 0;
  line-height 1.6;
}

/* Navigation Bar */
nav {
  background-color: #2f3d4a;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #f4a261;
}

/* Header Section */
.header-container {
  text-align: center;
  padding: 50px 0;
  background-color: #f9f9f9;
}

.header-container h1 {
  font-size: 6em;
  color: #264653;
}

.header-container p {
  font-size: 3em;
  color: #6c757d;
}

/* Button Styles */
button.learn-more {
  background-color: #f4a261;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.learn-more:hover {
  background-color: #e76f51;
}

/* Footer */
footer {
  background-color: #2f3d4a;
  color: white;
  padding: 0px 0;
  text-align: center;
}

